# SPDX-FileCopyrightText: 2017 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: Apache-2.0
---
name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:
  
jobs:
  ci:
    uses: xmidt-org/shared-go/.github/workflows/ci.yml@0a02349816fe04e678930ce6537c53525aaba49d # v4.9.22
    with:
      release-type:         program
      release-main-package: ./cmd/eventstream
      release-docker-file:  .release/Dockerfile
      release-docker:        true
      release-docker-latest: true
      release-docker-major:  true
      release-docker-minor:  true
      release-arch-arm64:    true
      release-arch-amd64:    true
    secrets: inherit
  
      
